html {
  height: 100vh;
}

body, #root, .App {
  height: 100%;
  font-family: 'Heebo', sans-serif !important;
  font-family: 'Josefin Sans', sans-serif !important;
}

@media(max-width:425px) {
  .main-container {
    position: relative;
    flex-direction: column;
  }
  .today {
    flex: 1 !important;
  }
  .search-bar {
    text-align: right !important;
  }
  .graph {
    display: none;
  }
}

.header {
  background-color: #8884d8;
  padding: 10px;
  position: relative;
  color: white;
}

.header-title {
  position: absolute;
  left: 20px;
  top: 15px;
  font-size: 20px;
}

.search-bar {
  text-align: center;

  input {
    height: 30px;
    vertical-align: bottom;
    border: 0px;
    border-radius: 3px 0px 0px 3px;
    padding: 0px 10px;
  }
  button {
    height: 30px;
    border: 0px;
    border-left: 1px solid #e8e8e8;
    border-radius: 0px 3px 3px 0px;
  }

}

.flex {
  display: flex;

  &-column {
    flex-direction: column;
  }

  &-row {
    flex-direction: row;
  }

  @for $i from 1 through 5 {
    &-#{$i} {
      flex: $i;
    }
  }
}

.today {
  color: white;
  position: relative;
}

.day {
  /* background: white; */
  margin: 5px 0px;
  background-color: rgba(0, 0, 0, 0.35);
  /* opacity: 0.5; */
  color: white;
  font-size: 4vh;
  padding: 10px;
  text-align: right;
}

.temp {
  font-size: 20vh;
  display: inline-block;
}

.city-name {
  position: absolute;
  bottom: 0;
  font-size: 6vh;
}

.graph {
  position: absolute;
  bottom: 0;
  left: 0;
}

.recharts-surface {
  padding:10px;
}

.main-container {
  height: calc(100% - 90px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding:20px;
}


