html {
  height: 100vh; }

body, #root, .App {
  height: 100%;
  font-family: 'Heebo', sans-serif !important;
  font-family: 'Josefin Sans', sans-serif !important; }

.App {
  background-position: center; }

@media (max-width: 800px) {
  .main-container {
    position: relative;
    flex-direction: column; }
  .today {
    flex: 1 !important; }
  .search-bar {
    text-align: right !important; }
  .graph {
    display: none; } }

.flex {
  display: flex; }
  .flex-column {
    flex-direction: column; }
  .flex-row {
    flex-direction: row; }
  .flex-between {
    justify-content: space-between; }
  .flex-1 {
    flex: 1; }
  .flex-2 {
    flex: 2; }
  .flex-3 {
    flex: 3; }
  .flex-4 {
    flex: 4; }
  .flex-5 {
    flex: 5; }

.header {
  background-color: #8884d8;
  padding: 10px;
  position: relative;
  color: white; }

.header-title {
  position: absolute;
  left: 20px;
  top: 15px;
  font-size: 20px; }

.search-bar {
  text-align: center; }
  .search-bar input {
    height: 30px;
    vertical-align: bottom;
    border: 0px;
    border-radius: 3px 0px 0px 3px;
    padding: 0px 10px; }
  .search-bar button {
    height: 30px;
    border: 0px;
    border-left: 1px solid #e8e8e8;
    border-radius: 0px 3px 3px 0px; }

.main-container {
  height: calc(100% - 90px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px; }

.bottom-container {
  position: absolute;
  width: 100%;
  align-items: flex-end;
  bottom: 0; }

.today {
  color: white;
  position: relative; }

.other-days {
  overflow: auto; }

.day {
  margin: 5px 0px;
  background-color: rgba(0, 0, 0, 0.35);
  color: white;
  font-size: 20px;
  padding: 10px;
  text-align: right; }

.temp {
  font-size: 20vh;
  display: inline-block; }

.city-name {
  font-size: 6vh;
  padding-right: 20px; }

.recharts-surface {
  padding: 10px; }

.first-time {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 20%;
  text-align: center; }
  .first-time button {
    height: 30px;
    width: 100px;
    border: 1px solid #8884d8;
    margin: 0px 5px; }
  .first-time button:hover {
    background: #8884d8;
    cursor: pointer; }
